.button {
    background-color: $primary-color;
    text-decoration: none;
    border: 2px solid $primary-color;
    cursor: pointer;
    text-align: center;
    font-family: $main-font;
    font-size: $main-font-size*1.4;
    font-weight: 600;
    padding: 6px 0;

}

a:hover .button {
    background-color: $secondary-color;
    color: $primary-color;

}

.a-button:hover {
    text-decoration: none;
}

.little {

    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    padding: 0 15px;
}