h1 {
    font-family: $main-font;
    font-size: $main-font-size*2;
}

h2 {
    font-family: $main-font;
    font-size: $main-font-size*2;
    color: $third-color;
    text-align: center;
}

p {
    font-family: $main-font;
}