.herohero {
    background: #81afd0;
}

.background-container {
    max-width: 1243px;
    margin: 0 auto;
    position: relative;
    z-index: 0;
}

.section {
    position: relative;
    z-index: 0;
}

.section-dark {
    padding: 0;
    color: #fff;
}

.section-dark .container {
    height: 100%;
}

.section-dark .section-foreground {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.section-dark .section-body {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.section-background {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -2;
}

.section-background>img {
    object-fit: cover;
    display: block;
    height: 100%;
    width: 100%;

    // overflow: hidden;
}

.section-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    background-image: -webkit-gradient(linear,
            left top,
            right top,
            from(#09052f),
            to(#311d5e));
    background-image: -o-linear-gradient(left, #09052f 0%, #311d5e 100%);
    background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
    opacity: 0.85;
}

.hero-wrapper {
    width: 400px;
}

.hero {
    // background-image: url("../images/background-camera");
    padding: 150px 0;
}

.hero-title {
    color: $secondary-color;
    padding-bottom: 15px;

}

.hero-subtitle {
    color: $secondary-color;
    padding-bottom: 15px;
}