.nav-big {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    bottom: 0;
}


.nav-item {
    padding-left: 20px;
    -webkit-box-sizing: inline-block;
    box-sizing: inline-block;
}


.a-nav {
    color: #6c6c6c;
    font-family: $main-font;
}

.a-nav:hover {
    padding-bottom: 16px;
    border-bottom: solid $hover-color 3px;
    text-decoration: none;
}


.a-nav:active,
.is-active {
    padding-bottom: 16px;
    border-bottom: solid $primary-color 3px;

}